{% load static %}
<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" type="text/css" href="{% static 'form/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>User Information Form</title>
</head>
<body>
    <div class="bg_head">
        <h3>{{ name }}</h3>
    </div>
    <form method="POST">
        {% csrf_token %} 
        <div class="form_line">
            <span>{{ client_num }}</span>
            <select name="user_profile_color_1">
                {% for clients in client %}
                <option value="1">{{ clients }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form_line_two">
            <span>{{ project_name }}</span>
            <select name="user_profile_color_1">
                {% for project_ids in project_id %}
                <option value="1">{{ project_ids }}</option>
                {% endfor %}
            </select>
        </div>
    <input type="Submit" name="submit" value="Создать проект"/>
    </form>
    
    {% if submitbutton == "Submit" %}
    <h1>Your first name is {{ firstname }}</h1>
    <h1>Your last name is {{ lastname }}</h1>
    <h1>Your email is {{ emailvalue }}</h1>
    {% endif %}
    
</body> 