{% load static %}
<!DOCTYPE html>
<html lang="ru">
<link rel="stylesheet" type="text/css" href="{% static 'form/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>User Information Form</title>
</head>
{% block content %}
    <div class="bg_head">
        <h3>{{ name }}</h3>
    </div>
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}

        <!-- {% comment %} -->
        <!-- {{ form.as_p }} -->
        <!-- {% endcomment %} -->
        <div class="form_line">
            <span for="{{ form.id_dep_client.id_for_label }}">Клиент №:</span>
            <select class="id_dep_client" name="id_dep_client"> 
                {% for clients in form.id_dep_client %}
                <option for="{{ clients }}">
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form_line_two">
            <span >Проект №:</span>
            <select class="id_project" name="id_project">
                {% for project_ids in form.id_project %}
                <option for="{{ project_ids }}">
                </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Создать проект</button>
    </form>
    
{% endblock %}